<div class="box">
  <div class="head m-3">
    <h1>Quản lí phòng ban</h1>
  </div>
  <div class="button m-3 surface-50">
    <p-button class="m-2 max-w-5rem min-w-5rem" (click)="showDialog('create')" label="Thêm" ></p-button>
    <p-button
      label="Xóa"
      class="max-w-5rem min-w-5rem"
      (onClick)="onCheckboxChange(seletedDepartment)"
      severity="danger"
    ></p-button>
  </div>
  <div class="table m-3">
    <p-table
      #dt
      [value]="Departments"
      [globalFilterFields]="[
        'name',
        'status',
        'description',
        'createdBy',
        'establishedDate'
      ]"
      [(selection)]="seletedDepartment"
      [rows]="10"
      [paginator]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Hiện {first} đến  {last}  của tổng {totalRecords} bản ghi"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Nhập vào"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th>Tên phòng ban</th>
          <th>Trạng thái</th>
          <th>Miêu tả</th>
          <th>Người tạo</th>
          <th>Ngày thành lập</th>
          <th style="width: 12rem">Thao tác</th>
        </tr>
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>
            <p-columnFilter type="text" field="name"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="status"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="description"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="createdBy"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="establishedDate"></p-columnFilter>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-department>
        <tr>
          <td>
            <p-tableCheckbox [value]="department"></p-tableCheckbox>
          </td>
          <td>{{department.name}}</td>
          <td>{{department.status}}</td>
          <td>{{department.description}}</td>
          <td>{{department.createdBy}}</td>
          <td>{{department.establishedDate}}</td>
          <td class="flex flex-wrap">
            <button
              pButton
              type="button"
              (click)="viewDepartment(department)"
              class="p-button-primary col m-1"
              icon="pi pi-eye"
            ></button>
            <button
              pButton
              type="button"
              (click)="UpdateDepartment(department)"
              class="p-button-secondary col m-1"
              icon="pi pi-cog"
            ></button>
            <button
              pButton
              type="button"
              (click)="deleteDepartment(department)"
              class="p-button-danger col m-1"
              icon="pi pi-trash"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- dialog thêm mới admin -->
<p-dialog
  header="Thêm mới phòng ban"
  [(visible)]="createVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <div class="formgrid grid">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="formgrid grid">
        <div class="field col">
            <label for="name">Tên phòng ban</label>
            <input id="name" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            formControlName="name"
            >
            <div *ngIf="createForm.get('name')?.invalid && (createForm.get('name')?.dirty || createForm.get('username')?.touched)" class="text-danger">Tên phòng ban không được để trống</div>
        </div>
        <div class="field col">
            <label for="description">Miêu tả</label>
            <input id="description" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"

            >
            <div *ngIf="createForm.get('description')?.invalid && (createForm.get('description')?.dirty || createForm.get('password')?.touched)" class="text-danger">Mật khẩu không được để trống</div>
        </div>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <p-dropdown appendTo="body" formControlName="status"  [options]="deparmentStatus" [showClear]="true"  placeholder="Trạng thái" optionLabel="name"></p-dropdown>
    </div>
      <div class="field col">
        <p-dropdown appendTo="body" formControlName="createdBy"  [options]="newArr"  optionLabel="name" [showClear]="true" placeholder="Admin"></p-dropdown>
      </div>
    </div>
  <div class="flex flex-row-reverse flex-wrap gap-2">
    <p-button
      label="Hủy"
      (onClick)="closeModal('create')"
       severity="danger"
    ></p-button>
    <p-button
    type="submit"
    label="Thêm"
    ></p-button>

  </div>
    </form>
  </div>
</p-dialog>
