<div class="nav grid">
  <div class="col-fixed">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">
      App quản lí nhân viên
    </div>
  </div>
  <div class="col">
    <div class=" text-center p-3 border-round-sm bg-primary font-bold ">
      <a [routerLink]="['employees']"   class="p-3 no-underline text-50">Nhân viên</a>
      <a [routerLink]="['admin']"  class="p-3 no-underline text-50">Quản trị viên</a>
      <a [routerLink]="['department']"  class="p-3 no-underline text-50">Phòng ban</a>
      <a [routerLink]="['home']"   class="p-3 no-underline text-50">Trang chủ</a>
    </div>
  </div>
</div>
<div class="content ">

  <router-outlet />
</div>
<div class="footer text-center p-3 border-round-sm bg-primary font-bold ">Design by Thanhnh</div>


